*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
}
.game{
    padding: 20px;
    margin: auto;
    width: 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
}
.box{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
    color: #b0413e;
    background-color: rgba(229, 229, 36, 0.717);
    font-size: 8vmin;
}
#resetButton{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 1rem;
}
.newBtn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 1rem;
    margin-bottom: 20px;
}
.msg{
    border: 2px solid black;
    padding: 10px 20px;
    background-color: #b0413e;
    width: fit-content;
    margin: auto;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    border-radius: 1rem;
}
.hide{
    display: none;
}